@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body,
html {
    background-color: #F8F8F8;
}

/*header*/
header {
    background-color: #4170aa;
    color: #FFFFFF;
    padding: 15px 0;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: "Rockwell", serif;


}

nav ul {
    list-style-type: none;


}

.col-sm-4 {

    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display: list-item;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
li{
    color: white !important;
}

footer {
    background-color: #232F3E;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
.btn{
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: left;

}

.search-bar form {
    display: flex;
    align-items: left;
    background-color: #F0F2F5;
    border-radius: 4px;
    padding: 8px 16px;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
}

.search-bar button[type="submit"] {
    background-color: #FF9900;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
}
#divcard{
    border: #232F3E solid 2px;
    border-radius: 6px;
    padding:15px;
    height:550px;
}
#imgcard{
    padding:20px;
    border: #232f3e98 solid 2px;
    border-radius: 20px;
    padding: 15px;
}
#commenti {
    border-collapse: collapse;
    width: 100%;
  }
  
  #commenti td, #commenti th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #commenti tr:nth-child(even){background-color: #f2f2f2;}
  
  #commenti tr:hover {background-color: #ddd;}
  
  #commenti th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#4170aa;
    color: white;
  }